.DS_Store
.vscode/
a.out
checker_Mac
main_tests.c
main_tests_push.c
main_tests_radix.c
main_tests_four.c
main_tests_five.c
main_tests_rl_pos.c
pruebas.c
orders.txt
push_swap.dSYM
push_swap_tester
checker.dSYM